<h1>Icons</h1>
<button (click)="change()">Change</button>
<h2>xs</h2>
<svg-icon [key]="icon" [size]="size" [color]="color"></svg-icon> settings
<h2>sm</h2>
<svg-icon key="settings" size="sm"></svg-icon> settings
<h2>md</h2>
<svg-icon key="settings"></svg-icon> settings
<h2>lg</h2>
<svg-icon key="settings" size="lg"></svg-icon> settings
<h2>Custom</h2>
<div style="display: flex; align-items: center;">
  <svg-icon key="settings" color="hotpink" fontSize="30px" style="margin-right: 5px;"></svg-icon>
  Settings
</div>
